<!DOCTYPE html>
<html lang="en" ng-app="mk">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="angular.js"></script>
    <script>
        var app=angular.module('mk',[]);
        app.controller('addMsg',function($scope){
            $scope.data=[];
            $scope.add=function(){
                $scope.data.unshift($scope.content);
            };
        });
    </script>
</head>
<body ng-controller="addMsg">
<input type="text"  ng-model="content">
<input type="button" value="添加" ng-click="add()">
<ul ng-repeat="item in data">
    <li>{{item}}</li>
</ul>
</body>
</html>